*{

	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body,html{
    
	margin: 0;
	padding: 0;
	background-color: #121212;
	place-items: center;
    color:#fff;
    justify-content: center;
    align-items: center;
    
	
}
.bg {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-image: url("./img/wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    filter: blur(8px);
    position: absolute;
    z-index: 10;
}
.header{
    display: flex;
    width: 100%;
    flex-direction: column;
}
  
.information
{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    
}
.artist-img
{
    height: 250px;
    width: 250px;
    padding: 10px 10px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 30px;
} 
.artist-name
{
    min-width: 200px;
    margin-top: 120px;
    margin-left: 20px;
}
.artist-type
{
    margin-top: 200px;
    margin-left: -200px;    
}
.btn
{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    cursor: pointer;
    
    
}
.lists
{
    display: flex;
    font-size: 13px;
    align-items: center;
    
}
.form
{
    font-size: 15px;
    font-weight: lighter;
    
}
.song-table
{
    width: 98%;
}
.count
{
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;

  
}
.song-table
{
    border-collapse: collapse; /* Ensures no gaps between cells */
    width: 100%; /* Makes the table full width */
    border: none; /* Removes outer border */
}
.song-count
{
    padding-left: 38px;
    padding-right: 30px;
    justify-content: center;
    

  
}

.title-title
{
    padding-top: 20px;
    padding-right: 1500px;
    padding-left: 50px;
    padding-bottom: 20px;

}

.duration
{
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 80px;


}

.song-count
{
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;


}
.song-title
{
    padding-left: 50px;
    padding-top: 20px;

    padding-bottom: 20px;
  
}
.song-duration
{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;

}
/* Apply hover effect on table rows */
.song-table tr:hover {
    background-color: #2C2B30; /* Light gray background when hovering */
    cursor: pointer; /* Change cursor to pointer when hovering */
}

.content-padding
{
    display: flex;
    padding: 40px 40px;
    margin: 40px;
}


  /* Màu khi hàng được chọn */
  .song-element.active-row td {
    background-color: #f0a500; /* Màu vàng nhạt */
    color: white; /* Chữ màu trắng */
  }
  .song-info {
    display: flex;
    align-items: center;
  }
  
  .songicon {
    width: 30px; /* Adjust the size of the image */
    height: 30px; /* Adjust the size of the image */
    margin-right: 10px; /* Space between image and song name */
  }
  

 

  #myAudioPlayer {
    position: fixed;  /* Fixes the position relative to the viewport */
    bottom: 0;        /* Aligns the player to the bottom */
    left: 30%;          /* Aligns the player to the left */
    width: 40%;      /* Makes the audio player span the entire width */
    background-color: #333; /* Optional: adds a background color */
    color: white;     /* Optional: changes the text color for controls */
  }
  music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
}
i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
}
.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}
.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-description p {
    margin: 0.2em;
}
.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.title:hover,
.artist:hover {
    text-decoration: underline;
}
.artist{
    color: var(--secondary-color);
}
.icons{
    display: flex;
    gap: 1em;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.play-pause{
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}
.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.progress-bar:hover .progress{
    background-color: var(--green-color);
}
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}
.other-features{
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
}